@media (min-width: 837px){

    html{
         font-size: 87.5%; /* 13px */
    }

    #balance{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }

    .card.total{
        background-color:var(--color-secondary);
    }
}